{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "node": true,
    "browser": true,
    "mocha": true
  },
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "flowtype/define-flow-type": [1]
  }
}
